* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-image: u(./images/universo.jpg);
    text-align: center;
    padding-bottom: 20px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
}

.js-input {
    border: solid 3px #289497;
    border-radius: 5px;
    height: 30px;
    width: 300px;
}

.js-btn {
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: #9fedf0;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly
}
.clickSerie {
    background-color: rgb(253, 210, 228);
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    border: solid 5px pink;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.clickFavorite{
    background-color: rgb(253, 210, 228);
    padding: 1px 20px 20px 20px;
    border-radius: 5px;
    border: solid 5px pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.js-series {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-inline: 100px;
    width: auto;
    height: 500px;

}
h2 {
    text-align: center;
}
.resultFav {
    margin-left: 100px;
}

.contenedor-imagen {
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.imagen-hover {
    position: relative;
    transition: filter 0.3s;
}

.corazon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: rgb(240, 0, 0);
    opacity: 0;
    transition: opacity 0.3s;
}

.imagen-hover:hover .corazon {
    opacity: 1; 
}

.imagen-hover:hover .serieImgFav {
    filter: blur(5px); 
}

.favorite {
    background-color: #9fedf0; /* Cambia el color de fondo */
    color: blue; /* Cambia el color de fuente */
    border: solid 5px #3ee3e9;
}

.favSection{
    margin-left: 100px;
}

.deleteFav {
    width: 30px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: black;
    border-radius: 50%;
    color: white;
}
.serieImgFav {
    padding-bottom: 10px;
}
.js-delete-all{
    color: white;
    width: 100px;
    height: 30px;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}