* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-image: linear-gradient(to right bottom, #9981f0, #ffffff);
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;

}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.title-header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #60006d;
    filter: drop-shadow( 3px 3px 1px rgb(255, 255, 255));
    text-align: center;  

}
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;  
    filter: drop-shadow( 2px 2px 1px rgb(255, 255, 255));
}

.js-input {
    border: solid 1px #60006d;
    border-radius: 5px;
    height: 30px;
    width: 250px;
}

.js-btn {
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: #ffffff00;
    color: #60006d;
    filter: drop-shadow( 3px 3px 1px rgb(255, 255, 255));
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
}
.seriesSection{
    min-width: 1000px;
}
.favSection{
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.clickSerie {
    background-color: #c6b9f1;
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    border: solid 3px #a690f0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.clickFavorite{
    padding: 1px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.js-series {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-inline: 100px;
    width: auto;
    height: 500px;

}

.title-html{
    padding-bottom: 20px;    
    filter: drop-shadow( 4px 4px 1px #c6b9f1);
    text-align: center;  
}
.resultFav {
    margin-left: 100px;
}

.contenedor-imagen {
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.imagen-hover {
    position: relative;
    transition: filter 0.3s;
}

.corazon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: rgb(240, 0, 0);
    opacity: 0;
    transition: opacity 0.3s;
}

.imagen-hover:hover .corazon {
    opacity: 1; 
}

.imagen-hover:hover .serieImg {
    filter: blur(5px); 
}

.favorite {
    background-color: #f5ced5;
    color: #a008b4;
    border: solid 3px #fdadba;
    border-radius: 5px;
}


.deleteFav {
    width: 30px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background-color: black;
    border-radius: 50%;
    color: white;
}
.serieImgFav {
    padding-bottom: 10px;
}
.js-delete-all{
    color: white;
    width: 100px;
    height: 30px;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
